[gerrit]
	basePath = git
	serverId = 105de1f3-81f7-44aa-9bbf-4f926d5309e0
	canonicalWebUrl = http://172.10.100.4:8080/
[database]
	type = mysql
        hostname = localhost
        database = zachdb
        username = gerrit2
[index]
	type = LUCENE
[auth]
	type = HTTP
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.181-3.b13.el6_10.x86_64/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[gitweb]
        cgi = /var/www/git/gitweb.cgi
        type = gitweb
