[
 {rabbit,
  ]},
 {kernel,
  ]},
{prometheus, [
   {rabbitmq_exporter, [
     {path, "metrics"},
     {connections_total_enabled, true}
   ]}
 ]},
 {rabbitmq_management,
  ]},
 {rabbitmq_shovel,
  [{shovels,
    ]}
  ]},
 {rabbitmq_stomp,
  ]},
 {rabbitmq_mqtt,
  ]},
 {rabbitmq_amqp1_0,
  ]},
 {rabbitmq_auth_backend_ldap,
  ]}
].
