backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
idna==2.7
iniparse==0.4
ipaddress==1.0.16
IPy==0.75
ItsDangerous==1.0.0
Jinja2==2.11.3
kitchen==1.1.1
MarkupSafe==1.0
MySQL-python==1.2.5
policycoreutils-default-encoding==0.1
pycurl==7.19.0
pygpgme==0.3
pyliblzma==0.5.3
pyxattr==0.5.1
redis==2.10.6
requests==2.20.0
seobject==0.1
sepolicy==1.1
urlgrabber==3.10
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
yum-metadata-parser==1.1.4
