sonar.projectKey=zach-cmdb      
sonar.projectName=zach-cmdb
sonar.version=1.0
sonar.sources=.
sonar.binaries=bin
sonar.language=java
sonar.sourceEncoding=UTF-8
# https://docs.sonarqube.org/display/SCAN/Analyzing+with+SonarQube+Scanner+for+Jenkins
