[mysqld]
server-id = 1
#autocommit = 1
log-slave-updates
sync_binlog=1
log-bin=binlog
binlog-ignore-db=mysql
binlog-ignore-db=information_schema
replicate-ignore-db=mysql,information_schema
expire-logs-days=3
skip_name_resolve = on


innodb_read_io_threads=12
innodb_write_io_threads=12
innodb_lock_wait_timeout=100
max_allowed_packet=1073741824
query_cache_size=0
query_cache_type=OFF
query_cache_wlock_invalidate=OFF
join_buffer_size=128M
tmp_table_size=128M
innodb_lru_scan_depth=256
innodb_io_capacity=100
log_timestamps=SYSTEM
interactive_timeout=14400
wait_timeout=14400
innodb_monitor_enable=all
max_connections=1000

character-set-server = utf8mb4


# other variables here
connect_timeout=100
innodb_buffer_pool_size = 3G
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_data_file_path = ibdata1:10M:autoextend
[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
